<div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"
        >Lucas Beserra Dos Santos - 0050831911026</span
      >
      <p style="color: #FFF; margin-bottom: -4px">
        <span *ngIf="timer.getCountMinutos() > 0"
          >{{ timer.getCountMinutos() }}m</span
        >
        {{ timer.getCountSegundos() }}s
      </p>
    </div>
  </nav>
</div>
<div>
  <div class="">
    <h1 style="text-align: center"><strong>|BitCoin$</strong></h1>

    <table class="container">
      <tr>
        <th>Data/Hora</th>
        <th>Real (BRL)</th>
        <th>Dólar (USD)</th>
      </tr>
      <tr *ngFor="let response of BitcoinService.updateList">
        <td>{{ response.time.updated }}</td>
        <td>
          {{ response.bpi.BRL.rate }}
        </td>
        <td>
          {{ response.bpi.USD.rate }}
        </td>
      </tr>
    </table>
  </div>
</div>
